@media screen and (min-width: 375px) {
  .td-quarter td,
  .td-quarter th {
    font-size: 0.7rem;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .td-quarter td,
  .td-quarter th {
    font-size: 1rem;
  }

  .full-text {
    display: inline;
  }

  .abbreviated-text {
    display: none;
  }

  .td-no-wrap {
    vertical-align: middle;
    white-space: nowrap;
  }

  .current-odds {
    text-decoration: none;
    border-bottom: 2px solid #000;
  }

  .border-select {
    text-decoration: none;
  }

  .border-select::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s;
  }

  .border-select:hover::after {
    width: 100%;
  }

  .footer-text a {
    font-size: 1rem;
  }

  .footer-text {
    flex-wrap: nowrap;
  }

  #bet-history-game-details {
    color: rgba(255, 255, 255, 0.75);
  }

  .content {
    padding: 3rem 0;
  }

  .accordion {
    margin: 0;
  }

  form.column-border {
    margin-top: 0;
  }
}
