body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

.dark-color {
  background-color: #2b2d42;
}

.green-color {
  color: #28a745;
}

.red-color {
  color: #d90429;
}

.white-color {
  color: white;
}

#red-color {
  background-color: #d90429;
  border-color: #2b2d42;
}

#gray-color {
  background-color: #edf2f2;
}

#bet-history-table {
  background-color: #2b2d42;
  color: white;
}

#bet-history-loading-table {
  background-color: #2b2d42;
  color: white;
}

#bet-history-game-details {
  color: rgba(255, 255, 255, 0.75);
}

.double-line-height {
  line-height: 2rem;
}

.td-no-wrap {
  vertical-align: middle;
}

.large-single-row {
  width: 100vw;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  background-color: #edf2f4;
}

.navbar-white-color {
  color: rgba(255, 255, 255, 0.55);
}

.nav-item-padding {
  padding-top: 0.5rem;
}

.winning-score {
  color: rgba(0, 255, 0, 0.6);
  font-weight: bold;
}

.losing-score {
  color: rgba(255, 0, 0, 0.6);
  font-weight: bold;
}

.table-data-10 {
  width: 10%;
}

.table-data-30 {
  width: 30%;
}

.table-data-50 {
  width: 50%;
}

.table-data-20 {
  width: 20%;
}

.table-data-40 {
  width: 40%;
}

.td-quarter td {
  width: 20%;
  font-size: 0.75rem;
  padding: 0;
}

.full-text {
  display: none;
}

.abbreviated-text {
  display: inline;
}

@media screen and (min-width: 768px) {
  .td-quarter td {
    font-size: 1rem;
  }

  .full-text {
    display: inline;
  }

  .abbreviated-text {
    display: none;
  }

  .td-no-wrap {
    vertical-align: middle;
    white-space: nowrap;
  }

  .border-select {
    text-decoration: none;
  }

  .border-select:focus {
    border-bottom: 2px solid #000;
  }

  .border-select::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s;
  }

  .border-select:hover::after {
    width: 100%;
  }
}
