* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

.dark-color {
  background-color: #2b2d42;
}

#red-color {
  background-color: #d90429;
  border-color: #2b2d42;
}

#gray-color {
  background-color: #edf2f2;
}

#bet-history-table {
  background-color: #2b2d42;
  color: white;
}

#bet-history-game-details {
  color: #5c6378;
}

.td-no-wrap {
  vertical-align: middle;
}

.td-quarter td {
  width: 20%;
  font-size: 0.75rem;
  padding: 0;
}

.large-single-row {
  width: 100vw;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  background-color: #edf2f4;
}

.navbar-white-color {
  color: rgba(255, 255, 255, 0.55);
}

.nav-item-padding {
  padding-top: 0.5rem;
}
