* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #2b2d42;
  color: white;
  padding: 0 0.5rem;
}
